/**************************************/
/* Nathan DeGruchy's Blog Style Sheet */
/**************************************/

/****************************/
/* Top Level Configurations */
/****************************/
:root
{
	background-color: #FFF;
	color: #000;
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	padding: 0;
}

code, pre, ul.shell-steps { overflow-x: scroll; }

sup { font-size: small; }

/* Reset box-sizing */
*,
*::before,
*::after { box-sizing: border-box; }

/**
 * Screen reader tools *
 */
.hide-for-screen-readers
{
	left: 0;
	line-height: 30px;
	padding: 8px;
	position: absolute;
	top: -50px;
}
.hide-for-screen-readers:focus { top: 0; }

/**
 * Initial page layout
 * Clever trick that sets up the page as a three column grid,
 * then forces everything to the center.
 */
body
{
  display: grid;
  grid-template-columns: 1fr min(45rem, 90%) 1fr;
  margin: 0;
}
body > * { grid-column: 2; }

/**
 * Page header
 * I use a webp here, because honestly, it's so well supported now,
 * and the transfer savings is high enough that if you don't support it
 * I don't even know how you run on the web...
 */
body > header h1
{
	background-image: url('/assets/images/2020-minimal-avatar-50.webp');
	background-position: top center;
	background-repeat: no-repeat;
	line-height: 90px;
	padding-top: 55px;
	text-align: center;
}

/**
 * Navigation
 * We setup the navigation to be a flex box of list items.
 * This allows us to easily swap to columar layout when on small
 * screens.
 */
body > header nav ul,
body > header nav ol
{
	display: flex;
	justify-content: space-between;
	padding: 0;
}
body > header nav ul li,
body > header nav ol li
{
	display: inline-block;
	list-style-type: none;
}
@media only screen and (max-width: 720px)
{
	/**
	 * Mobile nav
	 * This aligns the content to the center and uses the flex property
	 * to flip the content into a columar layout.
	 */
	body > header nav ul,
	body > header nav ol
	{
		flex-direction: column;
	}
	body > header nav ul li,
	body > header nav ol li
	{
		text-align: center;
		margin-bottom: 1rem;
	}
}

/**
 * Articles
 */
article { border-top: 1px solid #CCC; }

article header { margin-bottom: 1rem }

article header h2 a { text-decoration: none }

article header a.featured { display: block; }

/**
 * Galleries
 */
.gallery ul,
.gallery ol
{
	display: grid;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	grid-template-columns: repeat(auto-fill, minmax(min(128px, 100%), 1fr));
	list-style-type: none;
	margin: 1em 0;
	padding: 0;
	user-select: none;
}
.gallery li
{
	width: 128px;
	text-align: center;
}

/* Shell steps */
ul.shell-steps
{
	font-family: monospace;
	list-style-type: none;
	padding: 0;
	white-space: nowrap;
}

/**
 * Fix some image and video scaling issues
 */
img,
video
{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

figure
{
  margin: 0;
  text-align: center;
}

figure code pre
{
	border-color: black;
	border-style: solid;
	border-width: 1px 0;
	font-size: larger;
	padding-top: 1rem;
	text-align: left;
}

figcaption
{
  font-size: 0.9rem;
  color: var(--text-light);
  margin-bottom: 1rem;
}

blockquote
{
  margin: 2rem 0 2rem 2rem;
  padding: 0.4rem 0.8rem;
  font-style: italic;
}

cite
{
  font-size: 0.9rem;
  font-style: normal;
}

iframe
{
	border: 1px solid black;
	display: block;
	width: 100%;
}

details summary
{
	transition-delay: 100ms;
	transition-duration: 250ms;
	transition-property: box-shadow;
}

details[open] summary
{
	box-shadow: none;
	transition-delay: 0ms;
	transition-duration: 0ms;
}
